@import "tailwindcss";

@theme {
  --font-sans: "Schibsted Grotesk", sans-serif;
  --font-display: "Bodoni Moda", serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #0a0a0a;
}
